/* Bagian siswa/soal */
.__container {
    max-width: 50vw;
    margin: 3rem auto;
    background-color: #DBE2EF;
    padding: 2rem;
    border-radius: 5px;
}

.__innerContainer {
    background-color: #F9F7F7;
    padding: 12px;
    margin: 1rem 0;
    border-radius: 3px;
}

.__questionText {
    font-size: 1.2rem;
    color: #3A3845;
    margin-bottom: 12px;
    display: block;
}

.__labelText {
    color: #3A3845;
    font-weight: normal;
}

.__submitBtn {
    background: #F9F7F7;
    max-width: fit-content;
    cursor: pointer;
    border: 1px solid #3A3845;
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: auto;
}

@media screen and (max-width: 1300px) {
    .__container {
        max-width: 75vw;
    }
}

@media screen and (max-width: 600px) {
    /* Bagian siswa/soal */
    .__container {
        max-width: 90vw;
    }
}